audit           = true
dev             = false
engine-strict   = true
package-lock    = true
prefer-online   = true
save            = true
save-exact      = true
save-prod       = true
progress        = false
