name: Initialize build

on:
  workflow_call:
    outputs:
      NODE_VERSION:
        value: ${{ jobs.init.outputs.NODE_VERSION }}
      NODE_CACHE_KEY:
        value: ${{ jobs.init.outputs.NODE_CACHE_KEY }}

jobs:
  init:
    name: Initialize build
    runs-on: ubuntu-latest

    outputs:
      NODE_VERSION: ${{ steps.node-version.outputs.NODE_VERSION }}
      NODE_CACHE_KEY: ${{ steps.node-cache-key.outputs.NODE_CACHE_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Get node version
        id: node-version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - name: Get node cache key
        id: node-cache-key
        run: echo ::set-output name=NODE_CACHE_KEY::npm-${{ steps.node-version.outputs.NODE_VERSION }}-${{ hashFiles('**/package.json') }}

      - name: Cache dependencies
        id: cache-node-modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: node_modules
          key: ${{ steps.node-cache-key.outputs.NODE_CACHE_KEY }}

      - name: Setup node
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ steps.node-version.outputs.NODE_VERSION }}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm install

      - name: Log results
        run: |
          echo "NODE_VERSION:      ${{ steps.node-version.outputs.NODE_VERSION }}"
          echo "NODE_CACHE_KEY:    ${{ steps.node-cache-key.outputs.NODE_CACHE_KEY }}"
